

#banner {
  border-bottom-style: solid;
  margin: 10px;
  padding: 10px;
}

nav {
  float: left;
  border-right-style: solid;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 10px;
  width: 100px;
  padding-right: 10px;
  padding-top: 0px;
  height: 400px;
}

nav h3 {
  padding-top: 0px;
  margin: 0px;
}

#body {
  margin: 15px;
  padding-left: 10px;
}
