

#banner {
  border-bottom-style: solid;
  margin: 10px;
  padding: 10px;
}

nav {
  float: left;
  border-right-style: solid;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 10px;
  width: 100px;
  padding-right: 10px;
  padding-top: 0px;
  height: 600vh;
}

nav h3 {
  padding-top: 0px;
  margin: 0px;
}

#body {
  margin-left: 15px;
  margin-top: 20px;
  height: 100%;
}

#body h2 {
  margin-top: 10px;
}

.gametitle {
  font-style: italic;
}




