
<h2>Hello, <%= @user.username %></h2>

<h3>Update Your Profile:</h3>

<form action="/profile" method="post">
  <p>Your Nerdy Title: <input type="text" name="title" placeholder="e.g. 'Magelord of Waterdeep'" maxlength="25"></p>
  <p>Your Bio:</p>
  <textarea name="bio" placeholder="Tell us about yourself as a gamer!" rows="8" cols="40"></textarea>
  <br>
  <br>
  <input type="submit" value="Save Your Changes">
</form>